.section-landing-brand {

}

.landing-brand-layout {
 min-height: 100vh;
 background: url(../img/landing/brand/brand-bg.svg) no-repeat center bottom / cover, #fff;
 @include tablet-mobile {
  background: url(../img/landing/brand/brand-bg-mobile.svg) no-repeat center top / contain, #fff;
 }

 .main-wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  text-align: right;
  padding: 240px 0 63px;
  @include tablet-mobile {
   align-items: flex-start;
   text-align: left;
   //padding: 511px 0 79px;
   padding: 123vw 0 19vw;
  }
 }
}

.landing-brand {

 .landing-brand__title {
  max-width: 500px;
  @include tablet-mobile {
   max-width: 270px;
   max-width: 65vw;
  }
 }

 .landing-brand__subtitle {
  max-width: 360px;
  font-size: 24px;
  font-weight: 500;
  margin: 35px 0 0 auto;
  @include tablet-mobile {
   max-width: 310px;
   max-width: 72.5vw;
   font-size: 21px;
   font-size: 5.05vw;
   font-weight: 300;
   margin: 12px 0 0;
   margin: 3.6vw 0 0;
  }
 }

 .landing-brand__btn {
  margin-top: 50px;
  @include tablet-mobile {
   margin-top: 40px;
   margin-top: 10vw;
  }
 }
}