.section-landing-intro {
 background: url(../img/landing/intro/intro-bg.svg) no-repeat center bottom 10px / cover, #fff;
 @include mobile {
  background: url(../img/landing/intro/intro-bg-mobile.jpg) no-repeat center top / 100% auto, #fffafa;
 }

 > .main-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 7.3vh 0 14vh;
  //padding: 100px 0 142px;
  //@include fullhd {
  // padding: 100px 0 173px;
  //}
  @include mobile {
   height: auto;
   padding: 448px 0 111px;
  }
 }

 .title-big {
  @include desktop {
   font-size: 60px;
  }
 }
}

.landing-intro {

 .landing-intro__title {
  max-width: 510px;
  position: relative;
  @include fullhd {
   max-width: 560px;
   font-size: 72px;
  }
  &:before {
   content: '';
   width: 116px;
   height: 112px;
   display: none;
   background: url(../img/landing/intro/oval-mobile.png) no-repeat center / contain;
   position: absolute;
   top: -25px;
   left: 240px;
   z-index: -1;
   @include tablet-mobile {
    display: block;
   }
  }
 }

 .landing-intro__subtitle {
  max-width: 490px;
  font-size: 26px;
  font-weight: 300;
  line-height: 180%;
  margin-top: 28px;
  @include fullhd {
   font-size: 28px;
   margin-top: 40px;
  }
  @include mobile {
   max-width: 280px;
   font-size: 21px;
   margin-top: 15px;
  }
 }

 .landing-intro__btns {
  display: flex;
  margin-top: 85px;
  @include fullhd {
   margin-top: 169px;
  }
  @include mobile {
   margin-top: 58px;
  }
 }
 .landing-intro__btn {
  margin-right: 39px;
  @include fullhd {
   min-width: 251px;
  }
  @include mobile {
   margin-right: 11px;
  }
  &:last-child {
   margin-right: 0;
  }
 }
}