.section-home-hub {
 background: url(../img/home/hub/hub-bg-bottom.svg) no-repeat center bottom / 100% auto;
 padding: 10.26vw 0 19.84vw;
 //padding: 197px 0 381px;
 @include mobile {
  padding: 0 0 35px;
  margin-top: -40px;
 }
}

.home-hub-layout {
 position: relative;
 &:before {
  content: '';
  width: 1075px;
  height: 755px;
  //width: 1188px;
  //height: 880px;
  background: url(../img/home/hub/arrow-icon.png) no-repeat top 76px right 36px / 60px, url(../img/home/hub/hub-bg.svg) no-repeat center / contain;
  position: absolute;
  top: calc(50% - 377px);
  left: calc(50% - 537px);
  @include desktop {
   width: 55.99vw;
   height: 39.32vw;
   background: url(../img/home/hub/arrow-icon.png) no-repeat top 3.96vw right 1.875vw / 3.125vw, url(../img/home/hub/hub-bg.svg) no-repeat center / contain;
   top: calc(50% - 19.64vw);
   left: calc(50% - 27.97vw);
  }
  @include mobile {
   width: 426px;
   height: 1124px;
   background: url(../img/home/hub/arrow-icon.png) no-repeat top 70px right 42px / 56px, url(../img/home/hub/hub-bg-mobile.svg) no-repeat center / contain;
   top: calc(50% - 562px);
   left: calc(50% - 213px);
  }
 }
}

.home-hub {
 width: 995px;
 min-height: 679px;
 //max-width: 1170px;
 //width: 1110px;
 //min-height: 756px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 103px 75px 61px 44px;
 //padding: 170px 80px 42px 50px;
 margin: 0 auto;
 position: relative;
 z-index: 2;
 @include desktop {
  width: 51.82vw;
  min-height: 35.36vw;
  padding: 5.36vw 3.9vw 3.18vw 2.3vw
 }
 @include tablet-mobile {
  width: auto;
  left: auto;
 }
 @include tablet {
  max-width: 710px;
  padding: 110px 0 100px 0;
 }
 @include mobile {
  min-height: 1041px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 125px 0 82px;
 }

 .home-hub__thumb {
  width: 382px;
  //height: 458px;
  //padding-bottom: 52%;
  display: flex;
  align-items: center;
  background: no-repeat center / cover;
  position: relative;
  @include desktop {
   width: 19.9vw;
  }
  @include tablet-mobile {
   padding: 0;
  }
  @include tablet {
   width: 300px;
   height: 360px;
  }
  @include mobile {
   width: 255px;
   height: 306px;
   order: 2;
   margin-top: 42px;
  }

  iframe {
   width: 100%;
   //min-height: 100%;
   //position: absolute!important;
   //top: 0;
   //left: 0;
  }
 }

 .home-hub__content {
  width: 435px;
  text-align: center;
  @include desktop {
   width: 22.66vw;
  }
  @include tablet {
   width: 350px;
  }
  @include mobile {
   width: 305px;
   order: 1;
  }
 }

 .home-hub__title {
  font-family: Lato, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 150%;
  letter-spacing: 1.8px;
  @include desktop {
   font-size: 1.875vw;
  }
  @include tablet {
   font-size: 24px;
   line-height: 30px;
  }
  @include mobile {
   font-size: 28px;
   letter-spacing: 1.4px;
   line-height: 35px;
  }
 }
 .home-hub__text {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 222%;
  margin-top: 28px;
  @include desktop {
   font-size: 0.94vw;
   margin-top: 1.46vw;
  }
  @include tablet-mobile {
   font-size: 16px;
   line-height: 32px;
  }
  @include mobile {
   margin-top: 18px;
  }
 }

 .home-hub__btn {
  margin-top: 40px;
  @include desktop {
   margin-top: 0;
  }
  @include mobile {
   margin-top: 10px;
  }
 }
}