.section-home-hub {
 background: url(../img/home/hub/hub-bg-bottom.svg) no-repeat center bottom / 100% auto;
 padding: 10.26vw 0 19.84vw;
 //padding: 197px 0 381px;
 @include mobile {
  padding: 0 0 35px;
  margin-top: -40px;
 }
}

.home-hub-layout {
 position: relative;
 &:before {
  content: '';
  width: 1188px;
  height: 880px;
  background: url(../img/home/hub/arrow-icon.png) no-repeat top 96px right 40px, url(../img/home/hub/hub-bg.svg) no-repeat center / contain;
  position: absolute;
  top: calc(50% - 400px);
  left: calc(50% - 594px);
  @include mobile {
   width: 426px;
   height: 1124px;
   background: url(../img/home/hub/arrow-icon.png) no-repeat top 70px right 42px / 56px, url(../img/home/hub/hub-bg-mobile.svg) no-repeat center / contain;
   top: calc(50% - 562px);
   left: calc(50% - 213px);
  }
 }
}

.home-hub {
 //max-width: 1170px;
 width: 1110px;
 min-height: 756px;
 display: flex;
 align-items: center;
 justify-content: space-between;
 padding: 170px 80px 42px 50px;
 margin: 0 auto;
 position: relative;
 z-index: 2;
 @include tablet-mobile {
  width: auto;
  left: auto;
 }
 @include tablet {
  max-width: 710px;
  padding: 110px 0 100px 0;
 }
 @include mobile {
  min-height: 1041px;
  flex-direction: column;
  justify-content: flex-start;
  padding: 125px 0 82px;
 }

 .home-hub__thumb {
  width: 425px;
  height: 510px;
  background: no-repeat center / cover;
  @include tablet {
   width: 300px;
   height: 360px;
  }
  @include mobile {
   width: 255px;
   height: 306px;
   order: 2;
   margin-top: 42px;
  }
 }

 .home-hub__content {
  width: 490px;
  text-align: center;
  @include tablet {
   width: 350px;
  }
  @include mobile {
   width: 305px;
   order: 1;
  }
 }

 .home-hub__title {
  font-family: Lato, sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 54px;
  letter-spacing: 1.8px;
  @include tablet {
   font-size: 24px;
   line-height: 30px;
  }
  @include mobile {
   font-size: 28px;
   letter-spacing: 1.4px;
   line-height: 35px;
  }
 }
 .home-hub__text {
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 222%;
  margin-top: 77px;
  @include tablet-mobile {
   font-size: 16px;
   line-height: 32px;
  }
  @include mobile {
   margin-top: 18px;
  }
 }

 .home-hub__btn {
  margin-top: 40px;
  @include mobile {
   margin-top: 10px;
  }
 }
}