.fixed-socials
  a(href="#").fixed-social.social--fb.ion-social-facebook
  a(href="#").fixed-social.social--tw.ion-social-twitter
  a(href="#").fixed-social.social--pin.ion-social-pinterest
  a(href="#").fixed-social.social--yt.ion-social-youtube
  a(href="#").fixed-social.social--in.ion-social-instagram-outline
