.fixed-socials
  a(href="#").fixed-social.fixed-social--fb.ion-social-facebook
  a(href="#").fixed-social.fixed-social--tw.ion-social-twitter
  a(href="#").fixed-social.fixed-social--pin.ion-social-pinterest
  a(href="#").fixed-social.fixed-social--yt.ion-social-youtube
  a(href="#").fixed-social.fixed-social--in.ion-social-instagram-outline
