.main-footer
  .main-wrapper
    .footer-outro
      .footer-outro-block
        h2.footer-outro-block__title OUR MISSION
        p.footer-outro-block__text Eco-hub of social impact resources for worldwide consumers and brands to make better decisions. Be entertained, cause sustainability’s gone dope!

      .footer-outro-links
        a(href="#").footer-outro-link
          .footer-outro-link__title Discover<i class="icon-arrow-right icons"></i>
          .footer-outro-link__text OGB STORIES AND NEWS
        a(href="#").footer-outro-link
          .footer-outro-link__title Write for us<i class="icon-arrow-right icons"></i>
          .footer-outro-link__text BECOME A BLOGGER
        a(href="#").footer-outro-link
          .footer-outro-link__title Services<i class="icon-arrow-right icons"></i>
          .footer-outro-link__text STRUGGLING WITH SALES?
    .main-footer-top
      .main-footer-top__left
        a(href="#").logo
        p.main-footer-top__copy
          i
          |  2020 Ourgoodbrands
        .socials
          a(href="#").social.social--fb.ion-social-facebook
          a(href="#").social.social--tw.ion-social-twitter
          a(href="#").social.social--pin.ion-social-pinterest
          a(href="#").social.social--yt.ion-social-youtube
          a(href="#").social.social--in.ion-social-instagram-outline
      .main-footer-top__center
        .main-footer-top__menu
          h3.main-footer-top__subtitle.main-footer-top__menu-title COMPANY <i></i>
          ul.main-footer-top__menu-list
            li
              a(href="#") About
            li
              a(href="#") Advertising
            li
              a(href="#") Feedback
        .main-footer-top__menu
          h3.main-footer-top__subtitle.main-footer-top__menu-title INFORMATION <i></i>
          ul.main-footer-top__menu-list
            li
              a(href="#") Terms
            li
              a(href="#") Privacy
            li
              a(href="#") Feedback
      .main-footer-top__right
        h3.main-footer-top__subtitle NEWSLETTER SIGN UP
        .email-form
          form
            input(type="email" placeholder="Email address")
            button(type="submit") GO!
    .main-footer-bottom
      p.main-footer-bottom__powered Powered by <a href="#">Fourppineapples</a>
