#subscribe-bar.subscribe-bar
  .subscribe-bar__close
  .main-wrapper
    p.subscribe-bar__text
      i
      | Join Our Monthly Newsletter
    .email-form.email-form--sm
      form(action="//mc.us17.list-manage.com/subscribe/form-post?u=8bd7219f6b89b08a180bc0193&amp;id=122035fcfb&amp;popup=true" accept-charset="UTF-8" method="post" enctype="multipart/form-data" data-dojo-attach-point="formNode" novalidate="")
        input(type="email" name="EMAIL" value="" id="mc-EMAIL" placeholder="Email address")
        button(type="submit") GO!


script.
  $ = jQuery.noConflict();
  $(function(){
    //if($('#main-nav').length) {
    //  $($('#subscribe-bar').detach()).prependTo("#main-nav");
    //}

    $('.subscribe-bar__close').click(function () {
      $('.subscribe-bar').slideUp(200);
      $('#main-nav').css('top', 0);
    });

    var headerContainerHeight = $('.header-container').outerHeight();
    var $subscribeBar = $('.subscribe-bar');
    $(window).scroll(function () {
      var $this = $(this);
      if ($this.scrollTop() > headerContainerHeight) {
        $subscribeBar.addClass('subscribe-bar--fixed');
      } else {
        $subscribeBar.removeClass('subscribe-bar--fixed');
      }
    });
  })