#home-page {

 #content {
  max-width: 100%;
  margin: 0;
 }

 .theme-header .fixed-nav {
  top: 64px;
  @include tablet-mobile {
   top: 0;
  }
 }
}

#home.main {
 background: #fffafa;

 //.main-wrapper {
 // @include desktop {
 //  width: 1170px;
 // }
 //}
 //
 //.main-footer .main-wrapper {
 // width: 81%;
 //}

 .title-big {
  font-family: AvenirNext, sans-serif;
  font-weight: 700;
  font-size: 60px;
  @include mobile {
   font-size: 7.75vw;
  }
 }

 .subtitle {
  font-size: 24px;
  @include mobile {
   font-size: 18px;
   line-height: 22px;
  }
 }

 .main-footer {
  background: #f5f8fa;
  margin: 0;
 }
}

body .main {
 @import "home/intro";
 @import "home/guides";
 @import "home/hub";
 @import "home/movies";
 @import "home/read";
 @import "home/partners";
}
