#home-page {

}

#home.main {
 background: #fffafa;

 //.main-wrapper {
 // @include desktop {
 //  width: 1170px;
 // }
 //}
 //
 //.main-footer .main-wrapper {
 // width: 81%;
 //}

 .title-big {
  font-family: AvenirNext, sans-serif;
  font-weight: 700;
  font-size: 60px;
  @include desktop {
   font-size: 3.125vw;
  }
  @include mobile {
   font-size: 7.75vw;
  }
 }

 .subtitle {
  @include desktop {
   font-size: 1.46vw;
  }
  @include mobile {
   font-size: 18px;
   line-height: 22px;
  }
 }

 .btn-rounded {
  @include desktop {
   border-width: 0.625vw;
   font-size: 1.1vw;
   padding: 0.52vw 2.34vw;
  }
 }

 .main-footer {
  background: #f5f8fa;
  margin: 0;
 }
}

body .main {
 @import "home/intro";
 @import "home/guides";
 @import "home/hub";
 @import "home/movies";
 @import "home/read";
 @import "home/partners";
}
