body#read-page {
 background: #f5f8fa;

 .main#read {

  .section-home-read {
   background: none;
   padding-top: 5vw;
   margin-top: 0;
   @include mobile {
    padding-top: 40px;
   }
   &:before {
    display: none;
   }
  }
 }
}

