.section.section-landing-brand
  .landing-brand-layout
    .main-wrapper
      .landing-brand
        h2.title-big.landing-brand__title How sustainable is your brand?
        h3.landing-brand__subtitle Take this quiz and get a free eco-consultation to boost your sustainable pitch.
        a(href="#").btn.landing-brand__btn START

  include ../../partials/footer
