.section.section-landing-intro
  .scroll-mouse
  .main-wrapper
    .landing-intro
      h2.title-big.landing-intro__title For the awakers. Go sustainable!
      h3.landing-intro__subtitle Revolution starts at home. Are you one of those change-makers?
      .landing-intro__btns
        a(href="#").btn.btn--green.landing-intro__btn I’M A PERSON
        a(href="#").btn.btn--red.landing-intro__btn I’M A BRAND



