.section.section-landing-score
  .main-wrapper
    .landing-score
      h2.title-big.title-big--white.landing-score__title What is your sustainable score?
      h3.landing-score__subtitle Start this quiz and get FREE guides to improve your sustainable behaviour.
      a(href="#").btn.btn--white.landing-score__btn START

