| <?php
| /*
| Template Name: Home
| */
| ?>
| <?php get_header('new'); ?>

body#home-page
  .background-overlay
    #tie-container.site.tie-container
      #tie-wrapper
        | <?php
        | TIELABS_HELPER::get_template_part( 'templates/header/load' );
        | do_action( 'TieLabs/before_main_content' );
        | ?>
        .main#home
          include ../pages-partials/home/intro
          include ../pages-partials/home/guides
          include ../pages-partials/home/hub
          include ../pages-partials/home/movies
          include ../pages-partials/home/read
          include ../pages-partials/home/partners


          include ../partials/footer
          | <?php get_footer('new'); ?>
