.section.section-home-guides
  .main-wrapper.main-wrapper--2
    .home-guides
      h2.title-big <?= get_field('guides_title', $pageID); ?>
      h3.subtitle <?= get_field('guides_subtitle', $pageID); ?>

      .home-guides-slider
        //.home-guides-slide
        //  .home-guides-list
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //.home-guides-slide
        //  .home-guides-list
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //    a(href="#").home-guide-layout
        //      .home-guide-bg
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //        .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //      .home-guide
        //        h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //        .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")

        | <?php
        | $category = '';
        | if(get_field('guides_category')){$category = get_field('guides_category', $pageID);}
        | $args = array(
        | 'showposts' => -1,
        | 'category_name' => $category
        | );
        | $i = 0;
        | echo '<div class="home-guides-slide"><div class="home-guides-list">';
        | $wp_query = new WP_Query( $args );
        | while ($wp_query->have_posts()) : $wp_query->the_post();
        | if($i%8 === 0 && $i !== 0) echo '</div></div><div class="home-guides-slide"><div class="home-guides-list">';
        | ?>
        a(href!="<?= the_permalink(); ?>").home-guide-layout
          .home-guide-bg
            .home-guide-bg__rectangle.home-guide-bg__rectangle--1
            .home-guide-bg__rectangle.home-guide-bg__rectangle--2
            .home-guide-bg__rectangle.home-guide-bg__rectangle--3
          .home-guide
            h3.home-guide__title <?= the_title(); ?>
            .home-guide__thumb(style!="background-image: url(<?= get_the_post_thumbnail_url(); ?>)")
        | <?php
        | $i++;
        | endwhile;
        | ?>
        | </div></div>


      .home-guides-footer
        .home-guides-arrow.home-guides-arrow--prev
        .home-guides-numbers
        .home-guides-arrow.home-guides-arrow--next


      .home-guides-list-mobile
        | <?php
        | $category = '';
        | if(get_field('guides_category')){$category = get_field('guides_category', $pageID);}
        | $args = array(
        | 'showposts' => -1,
        | 'category_name' => $category
        | );
        | $wp_query = new WP_Query( $args );
        | while ($wp_query->have_posts()) : $wp_query->the_post();
        | ?>
        a(href!="<?= the_permalink(); ?>").home-guide-layout
          .home-guide-bg
            .home-guide-bg__rectangle.home-guide-bg__rectangle--1
            .home-guide-bg__rectangle.home-guide-bg__rectangle--2
            .home-guide-bg__rectangle.home-guide-bg__rectangle--3
          .home-guide
            h3.home-guide__title <?= the_title(); ?>
            .home-guide__thumb(style!="background-image: url(<?= get_the_post_thumbnail_url(); ?>)")
        | <?php
        | endwhile;
        | ?>
        //a(href="#").home-guide-layout
        //  .home-guide-bg
        //    .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //    .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //    .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //  .home-guide
        //    h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //    .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //a(href="#").home-guide-layout
        //  .home-guide-bg
        //    .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //    .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //    .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //  .home-guide
        //    h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //    .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        //a(href="#").home-guide-layout
        //  .home-guide-bg
        //    .home-guide-bg__rectangle.home-guide-bg__rectangle--1
        //    .home-guide-bg__rectangle.home-guide-bg__rectangle--2
        //    .home-guide-bg__rectangle.home-guide-bg__rectangle--3
        //  .home-guide
        //    h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
        //    .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")

  script.
    $ = jQuery.noConflict();
    $(function () {
      $('.home-guides-slider').slick({
        slidesToShow: 1,
        arrows: true,
        dots: true,
        autoplay: false,
        swipe: true,
        infinite: false,
        adaptiveHeight: true,
        prevArrow: $(".home-guides-arrow--prev"),
        nextArrow: $(".home-guides-arrow--next"),
        appendDots: $(".home-guides-numbers"),
        responsive: [
          {
            breakpoint: 1260,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      })
    });