.section.section-home-guides
  .main-wrapper.main-wrapper--2
    .home-guides
      h2.title-big Guides
      h3.subtitle Stay sharp. Learn the latest eco-social trends for making better purchase decisions.

      .home-guides-slider
        .home-guides-slide
          .home-guides-list
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        .home-guides-slide
          .home-guides-list
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
            .home-guide-layout
              .home-guide-bg
                .home-guide-bg__rectangle.home-guide-bg__rectangle--1
                .home-guide-bg__rectangle.home-guide-bg__rectangle--2
                .home-guide-bg__rectangle.home-guide-bg__rectangle--3
              .home-guide
                h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
                .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")

      .home-guides-footer
        .home-guides-arrow.home-guides-arrow--prev
        .home-guides-numbers
          //button.home-guides-number.home-guides-number--active 1
          //button.home-guides-number 2
        .home-guides-arrow.home-guides-arrow--next


      .home-guides-list-mobile
        .home-guide-layout
          .home-guide-bg
            .home-guide-bg__rectangle.home-guide-bg__rectangle--1
            .home-guide-bg__rectangle.home-guide-bg__rectangle--2
            .home-guide-bg__rectangle.home-guide-bg__rectangle--3
          .home-guide
            h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
            .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        .home-guide-layout
          .home-guide-bg
            .home-guide-bg__rectangle.home-guide-bg__rectangle--1
            .home-guide-bg__rectangle.home-guide-bg__rectangle--2
            .home-guide-bg__rectangle.home-guide-bg__rectangle--3
          .home-guide
            h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
            .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")
        .home-guide-layout
          .home-guide-bg
            .home-guide-bg__rectangle.home-guide-bg__rectangle--1
            .home-guide-bg__rectangle.home-guide-bg__rectangle--2
            .home-guide-bg__rectangle.home-guide-bg__rectangle--3
          .home-guide
            h3.home-guide__title ECO-FRIENDLY BUCKET LIST TO GO GREEN IN 2020
            .home-guide__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/guides/home-guide-thumb.png)")

  script.
    $ = jQuery.noConflict();
    $(function () {
      $('.home-guides-slider').slick({
        slidesToShow: 1,
        arrows: true,
        dots: true,
        autoplay: false,
        swipe: true,
        infinite: false,
        prevArrow: $(".home-guides-arrow--prev"),
        nextArrow: $(".home-guides-arrow--next"),
        appendDots: $(".home-guides-numbers"),
        responsive: [
          {
            breakpoint: 1260,
            settings: {
              slidesToShow: 1
            }
          }
        ]
      })
    });