.section.section-home-hub
  .main-wrapper
    .home-hub-layout
      .home-hub
        .home-hub__thumb(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/hub/hub-thumb.jpg)")
        .home-hub__content
          h2.home-hub__title The first eco-hub that gives back to causes worldwide.
          p.home-hub__text At Ourgoodbrands we work with social and eco-enterprises to amplify the impact across the 17 Sustainable Development Goals. Every time you read, follow and interact with us you are the one that is making a positive impact. We use B1G1 to track every single giving!
          a(href="#").home-hub__btn.btn-rounded FIND OUT

