.section.section-home-hub
  .main-wrapper
    .home-hub-layout
      .home-hub
        .home-hub__thumb <?= get_field('hub_img', $pageID); ?>
        .home-hub__content
          h2.home-hub__title <?= get_field('hub_title', $pageID); ?>
          p.home-hub__text <?= get_field('hub_text', $pageID); ?>
          a(href!="<?= get_field('hub_btn_url', $pageID); ?>").home-hub__btn.btn-rounded <?= get_field('hub_btn_text', $pageID); ?>

