.section.section-home-intro
  | <?php $featuredArticle = get_field('main_article_post', $pageID); ?>
  | <?php $featuredArticleAuthorId = get_post_field ('post_author', $featuredArticle); ?>

  .home-intro
    <?php if($featuredArticle): ?>
    .home-banner(style!="background-image: url(<?= get_the_post_thumbnail_url( $featuredArticle, 'full' ) ?>)")
      .main-wrapper
        h3.home-banner__subtitle <?= get_field('featured_title', $pageID); ?>
        h2.home-banner__title <?= get_the_title($featuredArticle); ?>
        ul.home-banner__tags
          li.home-banner__tag
            i.icon-user
            | <?= get_the_author_meta( 'display_name' , $featuredArticleAuthorId ); ?>
          li.home-banner__tag
            i.ion-ios-clock-outline
            | <?= get_the_date( 'F j, Y', $featuredArticle ) ?>
    <?php endif; ?>

    .main-wrapper
      .home-intro-articles.slick-1
        .home-intro-article-slide
          .home-intro-article-layout
            a(href="#").home-intro-article
              .home-intro-article__thumb
                .home-intro-article__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article.jpg)")
              .home-intro-article__content
                .home-intro-article__author(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article-author.png)")
                h3.home-intro-article__name Quick Brown Fox Jumps Over
                .home-intro-article__tags
                  .home-intro-article__tag ZERO WASTE
                  .home-intro-article__tag.home-intro-article__tag--date 16 MAY 2016
                p.home-intro-article__text Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church key roof party. Leggings ethical McSweeney’s.
        .home-intro-article-slide
          .home-intro-article-layout
            a(href="#").home-intro-article
              .home-intro-article__thumb
                .home-intro-article__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article.jpg)")
              .home-intro-article__content
                .home-intro-article__author(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article-author.png)")
                h3.home-intro-article__name Quick Brown Fox Jumps Over
                .home-intro-article__tags
                  .home-intro-article__tag ZERO WASTE
                  .home-intro-article__tag.home-intro-article__tag--date 16 MAY 2016
                p.home-intro-article__text Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church key roof party. Leggings ethical McSweeney’s.
        .home-intro-article-slide
          .home-intro-article-layout
            a(href="#").home-intro-article
              .home-intro-article__thumb
                .home-intro-article__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article.jpg)")
              .home-intro-article__content
                .home-intro-article__author(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article-author.png)")
                h3.home-intro-article__name Quick Brown Fox Jumps Over
                .home-intro-article__tags
                  .home-intro-article__tag ZERO WASTE
                  .home-intro-article__tag.home-intro-article__tag--date 16 MAY 2016
                p.home-intro-article__text Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church key roof party. Leggings ethical McSweeney’s.
        .home-intro-article-slide
          .home-intro-article-layout
            a(href="#").home-intro-article
              .home-intro-article__thumb
                .home-intro-article__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article.jpg)")
              .home-intro-article__content
                .home-intro-article__author(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article-author.png)")
                h3.home-intro-article__name Quick Brown Fox Jumps Over
                .home-intro-article__tags
                  .home-intro-article__tag ZERO WASTE
                  .home-intro-article__tag.home-intro-article__tag--date 16 MAY 2016
                p.home-intro-article__text Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church key roof party. Leggings ethical McSweeney’s.
        .home-intro-article-slide
          .home-intro-article-layout
            a(href="#").home-intro-article
              .home-intro-article__thumb
                .home-intro-article__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article.jpg)")
              .home-intro-article__content
                .home-intro-article__author(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article-author.png)")
                h3.home-intro-article__name Quick Brown Fox Jumps Over
                .home-intro-article__tags
                  .home-intro-article__tag ZERO WASTE
                  .home-intro-article__tag.home-intro-article__tag--date 16 MAY 2016
                p.home-intro-article__text Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church key roof party. Leggings ethical McSweeney’s.
        .home-intro-article-slide
          .home-intro-article-layout
            a(href="#").home-intro-article
              .home-intro-article__thumb
                .home-intro-article__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article.jpg)")
              .home-intro-article__content
                .home-intro-article__author(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article-author.png)")
                h3.home-intro-article__name Quick Brown Fox Jumps Over
                .home-intro-article__tags
                  .home-intro-article__tag ZERO WASTE
                  .home-intro-article__tag.home-intro-article__tag--date 16 MAY 2016
                p.home-intro-article__text Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church key roof party. Leggings ethical McSweeney’s.
        .home-intro-article-slide
          .home-intro-article-layout
            a(href="#").home-intro-article
              .home-intro-article__thumb
                .home-intro-article__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article.jpg)")
              .home-intro-article__content
                .home-intro-article__author(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/intro/intro-article-author.png)")
                h3.home-intro-article__name Quick Brown Fox Jumps Over
                .home-intro-article__tags
                  .home-intro-article__tag ZERO WASTE
                  .home-intro-article__tag.home-intro-article__tag--date 16 MAY 2016
                p.home-intro-article__text Synth polaroid bitters chillwave pickled. Vegan disrupt tousled, Portland keffiyeh aesthetic food truck sriracha cornhole single-origin coffee church key roof party. Leggings ethical McSweeney’s.


  script.
    $ = jQuery.noConflict();
    $(function () {
      $('.home-intro-articles').slick({
        slidesToShow: 3,
        arrows: true,
        autoplay: false,
        swipe: true,
        infinite: false,
        responsive: [
          {
            breakpoint: 1260,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 720,
            settings: {
              slidesToShow: 1,
              arrows: false
            }
          }
        ]
      })
    });
