.section.section-home-intro
  | <?php $featuredArticle = get_field('main_article_post', $pageID); ?>
  | <?php $featuredArticleAuthorId = get_post_field ('post_author', $featuredArticle); ?>

  .home-intro
    <?php if($featuredArticle): ?>
    .home-banner(style!="background-image: url(<?= get_the_post_thumbnail_url( $featuredArticle, 'full' ) ?>)")
      .main-wrapper
        h3.home-banner__subtitle <?= get_field('featured_title', $pageID); ?>
        h2.home-banner__title <?= get_the_title($featuredArticle); ?>
        ul.home-banner__tags
          li.home-banner__tag
            i.icon-user
            | <?= get_the_author_meta( 'display_name' , $featuredArticleAuthorId ); ?>
          li.home-banner__tag
            i.ion-ios-clock-outline
            | <?= get_the_date( 'F j, Y', $featuredArticle ) ?>
    <?php endif; ?>

    .main-wrapper
      .home-intro-articles.slick-1
        | <?php
        | $category_intro = get_field('intro_category', $pageID);
        | $sort_order_intro = get_field('intro_sort_order', $pageID);
        | $order_intro = 'DESC';
        | if($sort_order_intro === 'recent') {
        | $orderby_intro = 'publish_date';
        | } else if($sort_order_intro === 'random') {
        | $orderby_intro = 'rand';
        | } else if($sort_order_intro === 'modified') {
        | $orderby_intro = 'modified';
        | } else if($sort_order_intro === 'most_commented') {
        | $orderby_intro = 'comment_count';
        | } else if($sort_order_intro === 'alphabetically') {
        | $orderby_intro = 'title';
        | $order_intro = 'ASC';
        | }
        | $args = array(
        | 'showposts' => -1,
        | 'cat' => $category_intro,
        | 'orderby' => $orderby_intro,
        | 'order' => $order_intro
        | );
        | $wp_query = new WP_Query( $args );
        | while ($wp_query->have_posts()) : $wp_query->the_post();
        | $introArticleAuthorId = get_post_field ('post_author');
        | ?>
        .home-intro-article-slide
          .home-intro-article-layout
            a(href!="<?= the_permalink(); ?>").home-intro-article
              .home-intro-article__thumb
                .home-intro-article__thumb-inner(style!="background-image: url(<?= get_the_post_thumbnail_url(); ?>)")
              .home-intro-article__content
                .home-intro-article__author(style!="background-image: url(<?= get_avatar_url($introArticleAuthorId); ?>)")
                h3.home-intro-article__name <?= the_title(); ?>
                .home-intro-article__tags
                  .home-intro-article__tag <?= get_the_category()[0]->cat_name; ?>
                  .home-intro-article__tag.home-intro-article__tag--date <?= get_the_date( 'j F Y' ) ?>
                p.home-intro-article__text <?= get_the_excerpt(); ?>
        | <?php endwhile; wp_reset_query(); ?>



  script.
    $ = jQuery.noConflict();
    $(function () {
      $('.home-intro-articles').slick({
        slidesToShow: 3,
        arrows: true,
        autoplay: false,
        swipe: true,
        infinite: false,
        responsive: [
          {
            breakpoint: 1260,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 720,
            settings: {
              slidesToShow: 1,
              arrows: false
            }
          }
        ]
      })
    });
