<?php $showMovies = get_field('movies_visibility', $pageID); ?>
<?php if($showMovies): ?>
.section.section-home-movies
  .main-wrapper
    .home-movies
      h2.title-big <?= get_field('movies_title', $pageID); ?>
      h3.subtitle <?= get_field('movies_subtitle', $pageID); ?>

      .home-movies-list.slick-1
        | <?php
        | query_posts(array(
        |  'showposts' => -1,
        |  'category_name' => 'watch'
        | ));
        | while (have_posts()) : the_post();
        | ?>
        a(href!="<?= the_permalink(); ?>").home-movie
          .home-movie__thumb
            .home-movie__thumb-inner(style!="background-image: url(<?= get_the_post_thumbnail_url(get_the_ID(), 'medium') ?>)")
          h3.home-movie__tag <?= the_title(); ?>
          p.home-movie__text <?= get_the_excerpt(); ?>
        | <?php
        | endwhile;
        | wp_reset_query();
        | ?>



  script.
    $ = jQuery.noConflict();
    $(function () {
      $('.home-movies-list').slick({
        slidesToShow: 4,
        arrows: true,
        autoplay: false,
        swipe: true,
        infinite: false,
        responsive: [
          {
            breakpoint: 1260,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 720,
            settings: {
              slidesToShow: 2,
              arrows: false
            }
          }
        ]
      })
    });

<?php endif; ?>