.section.section-home-movies
  .main-wrapper
    .home-movies
      h2.title-big <?= get_field('movies_title', $pageID); ?>
      h3.subtitle <?= get_field('movies_subtitle', $pageID); ?>

      .home-movies-list.slick-1
        | <?php
        | query_posts(array(
        |  'showposts' => -1,
        |  'category_name' => 'movies'
        | ));
        | while (have_posts()) : the_post();
        | ?>
        a(href!="<?= the_permalink(); ?>").home-movie
          .home-movie__thumb
            .home-movie__thumb-inner(style!="background-image: url(<?= get_the_post_thumbnail_url() ?>)")
          h3.home-movie__tag <?= the_title(); ?>
          p.home-movie__text <?= get_the_excerpt(); ?>
        | <?php
        | endwhile;
        | wp_reset_postdata();
        | ?>
        a(href="#").home-movie
          .home-movie__thumb
            .home-movie__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/movies/movie-thumb.jpg)")
          h3.home-movie__tag DOCUMENTARY
          p.home-movie__text What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and
        a(href="#").home-movie
          .home-movie__thumb
            .home-movie__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/movies/movie-thumb.jpg)")
          h3.home-movie__tag DOCUMENTARY
          p.home-movie__text What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and
        a(href="#").home-movie
          .home-movie__thumb
            .home-movie__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/movies/movie-thumb.jpg)")
          h3.home-movie__tag DOCUMENTARY
          p.home-movie__text What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and
        a(href="#").home-movie
          .home-movie__thumb
            .home-movie__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/movies/movie-thumb.jpg)")
          h3.home-movie__tag DOCUMENTARY
          p.home-movie__text What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and
        a(href="#").home-movie
          .home-movie__thumb
            .home-movie__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/movies/movie-thumb.jpg)")
          h3.home-movie__tag DOCUMENTARY
          p.home-movie__text What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and
        a(href="#").home-movie
          .home-movie__thumb
            .home-movie__thumb-inner(style!="background-image: url(<?php echo get_stylesheet_directory_uri();?>/img/home/movies/movie-thumb.jpg)")
          h3.home-movie__tag DOCUMENTARY
          p.home-movie__text What is Lorem Ipsum? Lorem Ipsum is simply dummy text of the printing and


  script.
    $ = jQuery.noConflict();
    $(function () {
      $('.home-movies-list').slick({
        slidesToShow: 4,
        arrows: true,
        autoplay: false,
        swipe: true,
        infinite: false,
        responsive: [
          {
            breakpoint: 1260,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 720,
            settings: {
              slidesToShow: 2,
              arrows: false
            }
          }
        ]
      })
    });