<?php $showRead = get_field('read_visibility', $pageID); ?>
<?php if($showRead): ?>
.section.section-home-read
  .main-wrapper
    .home-read
      h2.title-big <?= get_field('read_title', $pageID); ?>

      .read-list.slick-1
        | <?php
        | query_posts(array(
        |  'showposts' => -1,
        |  'category_name' => 'read'
        | ));
        | while (have_posts()) : the_post();
        | ?>
        .read-item-slide
          a(href!="<?= the_permalink(); ?>").read-item
            .read-item__thumb
              .read-item__thumb-inner(style!="background-image: url(<?= get_the_post_thumbnail_url(get_the_ID(), 'medium') ?>)")
            h2.read-item__title <?= the_title(); ?>
            p.read-item__text <?= get_the_excerpt(); ?>
        | <?php
        | endwhile;
        | wp_reset_query();
        | ?>


  script.
    $ = jQuery.noConflict();
    $(function () {
      $('.read-list').slick({
        slidesToShow: 4,
        arrows: true,
        autoplay: false,
        swipe: true,
        infinite: false,
        responsive: [
          {
            breakpoint: 1260,
            settings: {
              slidesToShow: 2
            }
          },
          {
            breakpoint: 720,
            settings: {
              slidesToShow: 2,
              arrows: false
            }
          }
        ]
      })
    });


<?php endif; ?>