header.main-header-landing
  .main-wrapper
    a(href="#").logo
    .main-header-landing__right
      ul.main-header-menu
        li.main-header-menu__item
          a(href="#").main-header-menu__item-link
            | Magazine
            i.icon-arrow-down
          ul.main-header-menu__subitem
            li.main-header-menu__subitem-item
              a(href="#").main-header-menu__subitem-item-link Fashion
            li.main-header-menu__subitem-item
              a(href="#").main-header-menu__subitem-item-link Food
            li.main-header-menu__subitem-item
              a(href="#").main-header-menu__subitem-item-link Tech
            li.main-header-menu__subitem-item
              a(href="#").main-header-menu__subitem-item-link Travel
            li.main-header-menu__subitem-item
              a(href="#").main-header-menu__subitem-item-link Beauty & Health
            li.main-header-menu__subitem-item
              a(href="#").main-header-menu__subitem-item-link Home
            li.main-header-menu__subitem-item
              a(href="#").main-header-menu__subitem-item-link Eco Kids
            li.main-header-menu__subitem-item
              a(href="#").main-header-menu__subitem-item-link Social innovation
        li.main-header-menu__item
          a(href="#").main-header-menu__item-link Quiz
        li.main-header-menu__item
          a(href="#").main-header-menu__item-link Podcast
        li.main-header-menu__item
          a(href="#").main-header-menu__item-link Videos
        li.main-header-menu__item
          a(href="#").main-header-menu__item-link Books
        li.main-header-menu__item
          a(href="#").main-header-menu__item-link About
      a#mobile-menu-icon.mobile-menu-icon(href='#')
        span.nav-icon
        span.screen-reader-text Menu


