ul#menu.menu
  li(data-menuanchor="intro").menu__item
    a(href="#intro").menu__item-link
  li(data-menuanchor="score").menu__item
    a(href="#score").menu__item-link
  li(data-menuanchor="brand").menu__item
    a(href="#brand").menu__item-link
  //li(data-menuanchor="outro").menu__item
  //  a(href="#outro").menu__item-link
