body {

 .email-form {
  width: 255px;
  position: relative;

  input, textarea, select, .input, .textarea, .select {
   width: 100%;
   display: block;
   border-radius: 4px;
   border: 1px solid #656266;
   color: #000;
   font-size: 14px;
   line-height: 23px;
   padding: 9px;
   outline: none;
   transition: 0.5s;
   cursor: pointer;
  }

  input {
   padding-right: 50px;
  }

  button {
   border-radius: 4px;
   background-color: #fa8378;
   color: #ffffff;
   font-size: 14px;
   font-weight: 500;
   line-height: 21px;
   text-transform: uppercase;
   padding: 4px 7px 6px;
   position: absolute;
   top: 6px;
   right: 6px;
   z-index: 2;
   cursor: pointer;
  }

  &.email-form--sm {
   width: 200px;

   input, textarea, select, .input, .textarea, .select {
    font-size: 12px;
    line-height: 18px;
    padding: 7px;
   }

   input {
    padding-right: 50px;
   }

   button {
    line-height: 26px;
    padding: 0 5px;
    top: 4px;
    right: 4px;
   }
  }

  .response {
   margin-top: 10px;
   font-size: 12px;
   color: #73c5c6;
  }
 }

 input.mce_inline_error, #mc_embed_signup input.mce_inline_error {
  border-color: #fa8378!important;
 }
}

#mc_embed_signup div.mce_inline_error {
 display: none!important;
}
