.main {

 .slick-1 {

  .slick-arrow {
   width: 78px;
   height: 23px;
   background: no-repeat center / contain;
   font-size: 0;
   position: absolute;
   //top: calc(50% - 10px);
   top: 43%;
   transition: 0.4s;
   z-index: 10;
   cursor: pointer;

   &.slick-prev {
    background-image: url(../img/common/left-arrow.svg);
    left: -37px;
   }
   &.slick-next {
    background-image: url(../img/common/right-arrow.svg);
    right: -37px;
   }

   &.slick-disabled {
    opacity: 0;
   }
  }
 }
}